<section class="main-container">
  <div class="parallax-background"></div>

  <div class="greetings">
    <h3>Bem-vindo a Igreja Batista Esperança.</h3>

    <div class="tagline">
      <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    </div>

    <p class="mt-4">
      Novo por aqui? Venha nos conhecer!
    </p>

    <button class="btn btn-light rounded-pill px-4 py-2 mt-3 join-us-btn">
      <span>
        Junte-se a nós
      </span>
    </button>

    <div class="scroll-indicator">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</section>