<header class="header-container">
  <div class="header-content">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <h1>IBE</h1>
      <nav class="navbar-container">
        <ul class="d-flex justify-content-center align-items-center gap-3">
          <li><a routerLink="/home">Página inicial</a></li>
          <li><a routerLink="/about">Sobre a igreja</a></li>
          <li><a routerLink="/contact-us">Fale conosco</a></li>
        </ul>
      </nav>
    </div>
    <div class="search-bar-container">
      <input type="text" placeholder="Pesquisar..." />
      <i class="fa-thin fa-magnifying-glass"></i>
    </div>
  </div>
</header>