@use './variables' as *;

html body {
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  line-height: 1.6;
  color: var(--text-color);

  h1, h2, h3, h4, h5, h6 {
    color: var(--white);
  }

  h1 {
    font-weight: 600;
  }

  h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
}
